@use 'sass:math';
@use 'sass:map';

@function createpalette($color-name) {
    $palette: (
        50: var(--color-#{$color-name}-50),
        100: var(--color-#{$color-name}-100),
        200: var(--color-#{$color-name}-200),
        300: var(--color-#{$color-name}-300),
        400: var(--color-#{$color-name}-400),
        500: var(--color-#{$color-name}-500),
        600: var(--color-#{$color-name}-600),
        700: var(--color-#{$color-name}-700),
        800: var(--color-#{$color-name}-800),
        900: var(--color-#{$color-name}-900),
        a100: var(--color-#{$color-name}-100),
        // TODO replace with accentuated colors
        a200: var(--color-#{$color-name}-200),
        a400: var(--color-#{$color-name}-400),
        a700: var(--color-#{$color-name}-700),
    );

    $contrast: (
        50: var(--color-#{$color-name}-contrast-50),
        100: var(--color-#{$color-name}-contrast-100),
        200: var(--color-#{$color-name}-contrast-200),
        300: var(--color-#{$color-name}-contrast-300),
        400: var(--color-#{$color-name}-contrast-400),
        500: var(--color-#{$color-name}-contrast-500),
        600: var(--color-#{$color-name}-contrast-600),
        700: var(--color-#{$color-name}-contrast-700),
        800: var(--color-#{$color-name}-contrast-800),
        900: var(--color-#{$color-name}-contrast-900),
    );

    $palette: map.merge(
        $palette,
        (
            contrast: $contrast,
        )
    );

    @return $palette;
}
