<h2 class="text-center">Welcome to ngx-theme</h2>
<div class="container mx-auto bg-white p-12 pt-6 mt-6 rounded-lg">
  <ng-container *ngFor="let color of COLOR_NAMES">
    <div class="flex items-center">
      <h4 class="w-48">Palette: <span class="text-{{ color }}-500">"{{ color }}"</span></h4>
      <input type="color" [(ngModel)]="colorInputs[color]" (ngModelChange)="reloadTheme()"/>
    </div>

    <div class="flex w-full">
      <ng-container *ngIf="themeService.theme.getColorPalette(color) | keyvalue as paletteShades">
        <ng-container *ngFor="let shade of paletteShades | orderBy: 'value'" >
            <div *ngIf="shade.key !== 'contrast'"
            class="bg-{{ color }}-{{ shade.key }} text-center p-6 first:rounded-l-lg last:rounded-r-lg flex-auto"
            [style.color]="themeService.theme.getConstrast(color, shade.key)">
            <p class="hidden md:hidden lg:block font-medium | !my-0">{{ shade.key }}</p>
            <p class="hidden md:hidden lg:block | !my-0">{{ shade.value }}</p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>

  <div class="mt-12">
    <h3>Example material chips:</h3>
    <mat-chip-list aria-label="color chips">
      <mat-chip color="primary" selected>Primary chip</mat-chip>
      <mat-chip color="accent" selected>Accent chip</mat-chip>
      <mat-chip color="warn" selected>Warn chip</mat-chip>
    </mat-chip-list>
  </div>
</div>
